/* Honestly, not going to bother too much right now about google privacy policies */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    width: 100%;
    height: 100%;
    background: #f8fafc;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

main {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding: 0px 10% 0px 15%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Title Photo";
}

section {
    grid-area: Title;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1, h2 {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

h2 {
    font-weight: normal;
    font-size: 1.5rem;
}

section>p {
    margin: .5rem 0rem 1rem 0rem;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border: none;
    border-radius: .5rem;
    transition: all 300ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px 0px;
}

.button:focus, .button:active {
    text-decoration: underline;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px 0px;
}

.contact_button {
    padding: 1rem 3rem 1rem 3rem;
    margin: 1rem 0rem 1rem 0rem;
    background-color: #3897d3;
    color: #f8fafc;
}

.contact_button:hover, .contact_button:focus {
    background-color: #2a81be;
}

#contact_text {
    margin-bottom: 1.5rem;
}

.links {
    display: inline-block;
    margin-bottom: 2rem;
}

.SM_button {
    padding: 0.75rem 2rem 0.75rem 2rem;
    margin: 0.75rem 1rem 0.75rem 0rem;
    color: #f8fafc;
}

.github {
    background-color: #24292D;
}

.github:hover, .github:focus {
    background-color: #15181a;
}

.twitter {
    background-color: #08a0e9;
}

.twitter:hover, .twitter:focus {
    background-color: #058bc9;
}

aside {
    grid-area: Photo;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_picture_div {
    width: 75%;
    height: 75%;
    display: flex;
    align-items: center;
}

.profile_picture, img {
    width: 100%;
    border-radius: 10%;
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.2));
}

footer {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #111111;
    color: #f8fafc;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    main {
        padding: 7.5% 10% 0px 10%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        gap: 5% 0px;
        grid-template-areas:
            "Photo"
            "Title";
    }

    section {
        align-items: center;
    }

    .links {
        height: 3.6rem;
    }
}
